* {
  border: 1px red;
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: #f9fafb;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.header {
  background-color: #1f2937;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5vw;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: flex-end;
  font-size: 18px;
  gap: 20px;
}

.logo {
  color: #f9fafb;
  font-size: 24px;
  font-weight: bolder;
}

.nav {
  color: #e5e7eb;
  font-size: 18px;
  flex: 1;
}

.hero {
  background-color: #1f2937;
  flex: 1;
  display: flex;
  justify-content: space-between;
  padding: 5vh 5vw;
  gap: 20px;
}

.hero .text {
  flex: 1 2 auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
.hero h1 {
  font-size: 48px;
}

.hero img {
  flex-shrink: 1;
  flex-grow: 1;
  max-height: 30vh;
}

button {
  padding: 5px 20px;
  background-color: #3b82f6;
  color: #e5e7eb;
  font-size: 18px;
  font-weight: 700;
  border-radius: 5px;
}

.info {
  background-color: #ffffff;
  flex: 1;
  display: flex;
  flex-direction: column;
  color: #1f2937;
  justify-content: center;
  gap: 5vh;
  padding: 5vh 10vw;
  padding-bottom: 10vh;
}

.info h2 {
  font-size: 36px;
  font-weight: bolder;
  align-self: center;
}

.container {
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  flex: 0;
}

.card img {
  flex: 0;
  flex-shrink: 0;
  max-width: 200px;
}

.card p {
  text-align: center;
}

.quote {
  background-color: #e5e7eb;
  flex: 1;
  color: #1f2937;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.5vh;
  padding: 10vh 20vw;
}

.quote p {
  font-size: 36px;
  font-style: italic;
  font-weight: 200;
}
.quote h3 {
  font-size: 24px;
  text-align: right;
}

.action {
  background-color: #3b82f6;
  flex: 1;
  display: flex;
  justify-content: space-between;
  margin: 5vw;
  padding: 5vh 5vw;
  border-radius: 20px;
}

.action button {
  border: 2px solid #e5e7eb;
}

.footer {
  background-color: #1f2937;
  justify-content: center;
  align-items: center;
  flex: 0 0 40px;
  display: flex;
}

.card img {
  border: 3px solid #3b82f6;
  border-radius: 10%;
  flex: 1;
  max-height: 150px;
}
